
<!---------------------footer-------------------------->
  <div class="container-fluid bg-secondary footer mt-1">
    <div class="row">
      <div class="col-md-6 py-4">
    <h4 class=" ">&#169; 2022: KibRono | All rights reserved</h4>

      </div>
      <div class="col-md-6 py-3">
        <i class="fa fa-facebook "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-twitter "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-linkedin "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>


  </div>

<!---------------------/footer-------------------------->
